/* Dashboard.css */

/* Center the header content vertically and horizontally */
.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 0px;
  min-height: 25vh; /* Set a minimum height to occupy the full viewport height */
  /* background-image: url("../image/background.jpeg"); Set the background image */
  background-size: cover;
  background-position: center;
}

/* Style the logo image */
.logo {
  max-width: 150px; /* Adjust the max width as needed */
  margin-top: 0px;
  height: 100px;
}

/* Style the header text */
.header-text {
  font-size: 24px; /* Adjust the font size as needed */
  font-weight: bold;
  margin-top: 20px; /* Add spacing between the logo and text */
  color: white; /* Set the text color */
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Add a subtle text shadow for style */
}
