/* ScorePage.css */

.mentor-profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: rgb(7, 6, 6);
}

.mentor-profile {
  background-color: hwb(
    165 1% 84% / 0.2
  ); /* Semi-transparent white background */
  padding: 20px;
  border-radius: 10px;
}

.mentor-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
}

.mentor-photo {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  margin: 0 auto;
}

.mentor-details {
  text-align: center;
}
/* Define a custom color for the text */
.custom-color {
  font-size: 16px;
  margin-top: 10px;
  font-weight: bold;
  color: rgb(4, 0, 255);

  padding: 2px 4px; /* Add padding to create a highlight effect */
  border-radius: 3px; /* Add border-radius for rounded corners */
}

/* Define a background color for the highlighted text */
.highlight-text {
  font-size: 16px;
  margin-top: 10px;
  font-weight: bold;

  padding: 2px 4px; /* Add padding to create a highlight effect */
  border-radius: 3px; /* Add border-radius for rounded corners */
}
.class-schedule-container {
  border: 1px solid #ccc;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #f9f9f9;
}

.schedule-title {
  text-align: center;
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 10px;
}

.welcomecard {
  width: 400px;
  height: 400px;
  object-fit: cover;
  position: relative;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
  background-color: #6dcfcc;
  color: rgb(13, 8, 8);
  padding: 20px;
  margin: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  text-align: center;
  font-weight: bold;
}

@media (max-width: 768px) {
  .welcomecard {
    margin: 10px 0; /* Reduce top and bottom margin to save space */
    padding: 10px; /* Reduce padding to save space */
  }
}
.password-change {
  border: 2px solid #ccc;
  padding: 20px;
  border-radius: 10px;
  margin: 20px;
  text-align: center;
  background-color: #f9f9f9;
}

.password-change h3 {
  margin-bottom: 10px;
}

.password-input {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

.password-input label {
  font-weight: bold;
  margin-bottom: 5px;
}

.password-input input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #0056b3;
}
